language: ruby # don't install any environment
rvm: 2.3.3

cache: bundler

stages:
  - build
  - deploy

jobs:
  include:
    - stage: bulid
      name: "Build project"
      script: bundle exec middleman build
    - stage: deploy
      name: "Deploy to Github Pages"
      script: bash ./deploy.sh
      if: (NOT type IN (pull_request)) AND (branch = master)

env:
  global:
  - ENCRYPTION_LABEL: "ddab409dc7f0"
